<div class="wrapper">
  <div class="container">
    One
  </div>
  
</div>
<div>
  <p>Red container width: {{ r_width }}</p>
  <p>Red container height: {{ r_height }}</p>
  <p>Red container left: {{ r_left }}</p>
  <p>Red container right: {{ r_right }}</p>
  <p>Red container top: {{ r_top }}</p>
  <p>Red container bottom: {{ r_bottom }}</p>
</div>
<div>
  <p>Blue container width: {{ b_width }}</p>
  <p>Blue container height: {{ b_height }}</p>
  <p>Blue container left: {{ b_left }}</p>
  <p>Blue container right: {{ b_right }}</p>
  <p>Blue container top: {{ b_top }}</p>
  <p>Blue container bottom: {{ b_bottom }}</p>
</div>